.Linkbar{
    padding: 20px;
    top:0;
}

.Linkbar button{
    margin: 15px;
    
}

.navtitle, .navlink{
    color: #FFFFFE ;
}

.btn1{
    background: linear-gradient(91.05deg, #8752EC 0%, #59C2DC 100%);
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn2{
        background: linear-gradient(91.05deg, #8752EC 0%, #59C2DC 100%);
    }

    

         @media only screen and (max-width: 760px) {
    
            .Linkbar{
                display: none;
            }
         }
