/* Landing */
div#landing {
    margin: 80px 4em;
    height: 100%;
}

p {
    font-family: 'Inter', sans-serif;
    color: #94A1B2;
}

.landing-content {
    max-width: 550px;
    margin-top: 40px;
}

.landing-content>p {
    margin: 50px 0
}

.text-gradient {
    background-image: linear-gradient(124deg, rgba(135, 82, 236, 1) 0%, rgba(89, 194, 220, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.landing-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    animation: updown 5s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

input#search {
    padding-right: 40px;
    background-color: #fffffe;
    background-image: url("https://cdn-icons-png.flaticon.com/512/149/149852.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #16161A;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 240px;
    transition: padding-left 0.4s ease-in-out;
}

input#search:focus {
    padding-left: 15px;
}

.socials {
    margin-right: 5vw;
}

i {
    color: #fffffe;
    margin-left: .8rem;
    transition: all 0.5s ease-in-out;
}

.fa-square-facebook:hover {
    color: #4267B2;
}

.fa-square-instagram:hover {
    color: #c8308b;
}

.fa-square-twitter:hover {
    color: #1DA1F2;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.trending-list {
    color: #fffffe;
}